$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

/* Splash picture on main page */
.splash {
  margin: 0 auto;
  width: 0 auto;
  /*border: 3px solid #FFCA28;*/
  text-align: center;
  font-family: monospace;
  font-size: 4em;
}

/* Main page header */
.main-header1 {
  margin: 0 auto;
  width: 80%;
  text-align: left;
  font-family: monospace;
  font-size: 1em;
}

/* "Club" page */
.penguins {
  margin: 0 auto;
  text-align: center;
  background-image: url("http://images.wikia.com/clubpenguin/images/5/55/Custom_made_white_penguin.png");
  background-size: contain;
}
